{% extends "chat/base.html" %}
{% load static %}

{% block title %}
    Новый вопрос
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th style="width: 200px; border-color: white;" colspan="3">
                <h3 style="text-align: center">Новый вопрос:</h3>
            </th>
        </tr>
        </thead>
        <tbody style="background-color: white; padding: 20px;">
        <tr>
            <td>
                <div style="margin: 10px;">
                    {% for error in errors %}
                        <div class="alert alert-danger"> {{ error }} </div>
                    {% endfor %}
                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        <fieldset>
                            {% for field in form %}
                                <div class="control_group"
                                     {% if field.errors %} has-error {% endif %}>
                                    <label class="control-label">{{ field.label }}</label>
                                    <div class="controls">{{ field }}</div>
                                </div>
                            {% endfor %}
                        </fieldset>
                        <div class="form-actions"><br/>
                            <button type="submit" class="btn btn-primary">
                                Задать вопрос
                            </button>
                        </div>
                    </form>
                </div>
            <td>
        </tr>
        </tbody>
    </table>
{% endblock %}
