{% extends "chat/base.html" %}
{% load static %}

{% block title %}
    Вопрос
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th style="border-color: white;" colspan="3">
                <h3 style="text-align: center">Настройки</h3>
            </th>
        </tr>
        </thead>
        <tbody style="background-color: white; padding: 20px;">
        <tr>
            <td>
                <div style="margin: 10px;">
                    {% for error in errors %}
                        <div class="alert alert-danger"> {{ error }} </div>
                    {% endfor %}
                    {% for done in success %}
                        <div class="alert alert-success"> {{ done }} </div>
                    {% endfor %}
                    <form class="form-horizontal" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        <fieldset>
                            {% for field in form %}
                                <div>
                                    <label class="label">{{ field.label }}</label>
                                    <div>{{ field }}</div>
                                </div>
                            {% endfor %}
                        </fieldset>
                        <div class="form-actions"><br/>
                            <button type="submit" class="btn btn-primary">
                                Сохранить настройки
                            </button>
                        </div>
                    </form>
                </div>
            <td>
        </tr>
        </tbody>
    </table>
{% endblock %}