{% extends "chat/base.html" %}
{% load static %}

{% block title %}
    Регистрация
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th style="border-color: white;" colspan="3">
                <h3 style="text-align: center">Регистрация</h3>
            </th>
        </tr>
        </thead>
        <tbody style="background-color: white; padding: 20px;">
        <tr>
            <td>
                <div style="margin: 10px;">
                    {% for error in errors %}
                        <div class="alert alert-danger"> {{ error }} </div>
                    {% endfor %}
                    <form enctype="multipart/form-data" class="form-horizontal" method="post">
                        {% csrf_token %}
                        <fieldset>
                            {% for field in form %}
                                <div class="control_group my-2"
                                     {% if field.errors %}has-error{% endif %}>
                                    <label class="control-label">{{ field.label }}</label>
                                    <div class="controls">{{ field }}</div>
                                </div>
                            {% endfor %}
                        </fieldset>
                        <div class="flex-box my-4 ">
                            <button type="submit" class="btn btn-success">
                                Зарегистрироваться
                            </button>
                        </div>
                    </form>
                </div>
            <td>
        </tr>
        </tbody>
    </table>
{% endblock %}