{% block sidebar %}
    <div class="row tags py-2">
        <p class="mr-3 w-100 h2">Popular tags</p>
        <a class="mr-3 h4" href="#">Numbers</a>
        <a class="mr-3 h4" href="#">Algebra</a>
        <a class="mr-3 h4" href="#">Prime</a>
        <a class="mr-3 h4" href="#">Probability</a>
    </div>

    <div class="row tags py-2">
        <p class="mr-3 h2">Best Members</p>
        <a class="mr-3 h4 w-100" href="#">Riemann</a>
        <a class="mr-3 h4 w-100" href="#">Fermat</a>
        <a class="mr-3 h4 w-100" href="#">Euler</a>
        <a class="mr-3 h4 w-100" href="#">Lagrange</a>
        <a class="mr-3 h4 w-100" href="#">Gauss</a>
    </div>
{% endblock %}